
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

#main {
    text-align: center;
}

#main .container {
    margin: 0 20%;
}

#main .main > .title {
    font-size: 28px;
    font-weight: 700;
}

#main .main .ether_klay {
    line-height: 1.4;
    width: 534px;
    margin: 0 auto;
    text-align: justify;
}

#main .main > div {
    margin: 2% 0;
}

#main .main .table {
    display: flex;
    justify-content: center;
    margin: 3% auto;
    height: 220px;
}

#main .main .table .utc,
#main .main .table .menu,
#main .main .table .kutc {
    margin: 0 2%;
}

#main .main .table .utc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #FFD500;
    border-radius: 15px;
    box-sizing: border-box;
    width: 180px;
}

#main .main .table .menu {
    text-align: left;
}

#main .main .table .menu p {
    font-size: 10px;
}

#main .main .table .menu .logo {
    line-height: 1.4;
}

#main .main .table .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 600;
}

#main .main .table .kutc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #FFD500;
    border-radius: 15px;
    box-sizing: border-box;
    width: 180px;
}

.fa-arrow-right {
    font-size: 30px;
    padding-top: 8%;
}

#main .main .distribution {
    text-align: start;
    margin-left: 284px;
}

#main .main .distribution .distribution_rate .content {
    margin-bottom: 2%;
}

#main .main .distribution .distribution_rate .content .title {
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 14px;
}

#main .main .distribution .distribution_way .substance {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

#main .main .distribution .distribution_way .content .title {
    margin-bottom: 1%;
    font-weight: 600;
    font-size: 14px;
}

#main .main .agree {
    margin-top: 2%;
    margin-bottom: 1%;
}

#main .main .agree .box {
    display: flex;
    justify-content: center;    
}

#main .main .agree .box span {
    line-height: 1.3;
}

.btn .true {
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
}

.btn .false {
    border: 0;
}

#main .main .agree {
    display: flex;
    justify-content: center;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.agree span {
    display: block;
    line-height: 1.5;
}


.false {
    pointer-events: none;
}

.true {
    pointer-events: all;
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    #main .container {
        margin: 0;
    }

    #main .main > .title {
        font-size: 20px;
    }

    #main .main .table .menu {
        font-size: 12px;
    }

    #main .main .agree .box span {
        line-height: 1.8;
    }

    #main .main .distribution .distribution_rate .content .title {
        font-size: 12px;
    }

    #main .main .distribution .distribution_way .content .title {
        font-size: 12px;
    }

    input[type=checkbox] {
        width: 12px;
        height: 12px;
    }

    .agree span {
        line-height: 1.5;
        font-size: 12px;
    }

    #main .main .agree {
        margin-bottom: 2%;
    }
}

@media (max-width: 360px) {
    #main .main .table .menu {
        font-size: 11px;
    }

    #main .main > div {
        margin: 4% 0;
    }

    #main .main .table {
        margin: 6% 0;
    }

    #main .main .distribution .distribution_rate .content .title {
        font-size: 11px;
    }

    #main .main .distribution .distribution_way .content .title {
        font-size: 11px;
    }

    #main .main .distribution .distribution_rate .content {
        margin-bottom: 4%;
    }
}

